.vendorContainer {
  max-width: 1150px;
  margin: 0 auto;
  padding-top: 20px;
  height: 100%;
}

.createVendorContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.vendorInfoTable {
  max-height: 80vh;
  overflow-y: scroll;
}
